.App {
  text-align: center;
}
.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: rgb(48, 95, 197);
  height: 100px;
}
.days {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(61, 58, 58);
}
.day {
  max-height: 100%;
  width: 250px;
  border: 2px solid rgb(63, 103, 214);
  border-radius: 15px;
}
.temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.day img {
  width: 130px;
  height: 110px;
}
